a {
  text-decoration: none;
  border-radius: 5px;
  border: 1px solid transparent;
  transition: 0.3s ease-in-out;
}
a:hover,
.active {
  background-color: green;
}
.active {
  border-color: white;
  background-color: darkgreen;
}
.row,
p {
  margin: 0;
}
