<div
  class="bg-dark d-flex flex-column justify-content-center"
  style="height: 100%"
>
  <div class="d-flex flex-column">
    <a routerLink="Customers" routerLinkActive="active" class="row m-1 p-2">
      <div class="col-2">
        <i class="fa-solid fa-user"></i>
      </div>
      <div class="col-10">
        <p class="fw-bold">Customers</p>
      </div>
    </a>
    <a routerLink="Products" routerLinkActive="active" class="row m-1 p-2">
      <div class="col-2">
        <i class="fa-solid fa-box"></i>
      </div>
      <div class="col-10">
        <p class="fw-bold">Products</p>
      </div>
    </a>
    <a routerLink="Sales" routerLinkActive="active" class="row m-1 p-2">
      <div class="col-2">
        <i class="fa-solid fa-receipt"></i>
      </div>
      <div class="col-10">
        <p class="fw-bold">Sales</p>
      </div>
    </a>
  </div>
</div>
